{% extends 'base.html' %}

{% block main %}
    <form action="/forgot-password" method="post">
        {{ form.csrf_token }}
        <div class="container col-md-7">
        <div class="form_group d-grid gap-2 mx-auto mt-5">

            <div class="form-floating mb-2">
                {{ form.email(placeholder="name@example.com" ,class_="form-control") }}
                <label for="floatingInput">Email address</label>
            </div>
            {{ form.submit(class_="btn btn-md btn-primary") }}       
        </div>
        </div>
    </form>
{% endblock %}