{% extends 'base.html' %}

{% block main %}
    <form action="/forgot-password" method="post">
        {{ form.csrf_token }}
        <div class="d-grid gap-2 col-3 mx-auto mt-5">

            <div class="form-floating mb-2">
                {{ form.email(placeholder="name@example.com" ,class_="form-control") }}
                <label for="floatingInput">Email address</label>
            </div>
            {{ form.recaptcha }}
            {{ form.submit(class_="btn btn-md btn-primary") }}       
        </div>
    </form>
{% endblock %}