{% extends 'base.html' %}

{% block main %}

<form action="/reset-password/{{ token }}" method="post">
        {{ form.csrf_token }}
        <div class="container col-md-7">
        <div class="d-grid gap-2 mx-auto mt-5">
        <div class="form-floating mb-2">
            {{ form.email(placeholder="name@example.com",value= addr ,class_="form-control" ,readonly='readonly') }}
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            {{ form.password(placeholder="Password" , class_="form-control mb-2") }}
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            {{ form.confirm_password(placeholder="Confirm Password" , class_="form-control mb-2") }}
            <label for="confirm_password">Confirm password</label>
        </div>
        {{ form.submit(class_="btn btn-md btn-primary") }}
    </div>
    </div>
</form>

{% endblock %}